<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog ke liye  from  </title>
</head>
<body>
    <h1>bhai form banane wale</h1>

    <form action="/blogs" method="post">

    <label for="titels"> titel </label>
      <input type="text" name="titel" id="titels">
      <br>

      <label for="des">description </label>
      <input type="text" name="desc" id="des">

      <br>

      <button type="submit">Submit data </button>


    </form>
    
</body>
</html>