<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <h2>id: <%= foundarr.id %></h2>
    <h1>Title: <%= foundarr.titel %></h1>
    <h5>Description: <%= foundarr.desc %></h5>
</body>
</html>
